<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mandown">

    <application
        android:allowBackup="true"
        android:icon="@drawable/turkey"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".games.GameMenuActivity" />
        <activity android:name=".games.WhackABeerMenuActivity" />
        <activity android:name=".games.WhackABeerGameActivity" />
        <activity android:name=".games.TightropeWaiterMenuActivity" />
        <activity android:name=".games.TightropeWaiterGameActivity" />
        <activity android:name=".journal.JournalActivity" />
        <activity android:name=".history.HistoryActivity" />

        <service
            android:name=".db.DBService"
            android:exported="false" />
        <service
            android:name=".sensors.SensorService"
            android:exported="false" />

        <activity android:name=".games.RingOfFireMenuActivity" />
        <activity android:name=".games.WhoAmIMenuActivity" />
        <activity android:name=".games.RingOfFireGameActivity" />
        <activity android:name=".games.WhoAmIGameActivity" />
    </application>

</manifest>